/* General styles */

body {
  position: relative;
}
.App {
  width: 100%;
  transition: background-color 250ms ease-in-out;
  background-color: var(--background-color);
  color: var(--primary-text-color);
}
a {
  text-decoration: none;
  color: var(--secondary-text-color);
}

/* NavBar */
nav {
  padding: 1em;
  border-bottom: 2px solid var(--primary-text-color);
  position: sticky;
}
nav ul {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
nav li {
  list-style: none;
}
nav a {
  background-color: var(--foreground-color);
  font-size: larger;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 30px;
}

nav a:hover {
  background-color: #cc0000;
  color: white;
}

/* Blog */
h1 {
  padding-top: 1em;
  text-align: center;
}
.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post {
  margin: 2em 0;
  padding: 1em;
  border-bottom: 1px solid #eee;
  width: 50%;
  min-width: 30em;
}
.post:last-child {
  border-bottom: none;
}

/* Style for code blocks */
pre {
  padding: 1em;
  overflow-x: auto;
}

code {
  font-family: "Consolas", "Monaco", "Courier New", monospace;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 5px;
}

/* Style inline code differently from code blocks */
:not(pre) > code {
  background-color: #f6f8fa;
  padding: 2px 4px;
  border-radius: 3px;
  color: #e83e8c;
}

/* Container styles */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;
}
/* techStack styles */
.ruby:hover {
  text-shadow: 0 0 20px #d34d4d, 0 0 30px #c52525, 0 0 40px #e60c0c,
    0 0 50px#cc0000;
  color: #cc0000;
}

.javascript:hover {
  text-shadow: 0 0 20px #d3b44d, 0 0 30px rgb(238, 238, 88),
    0 0 40px rgb(248, 248, 59), 0 0 50px yellow;
  color: rgb(238, 101, 10);
}
.react:hover {
  text-shadow: 0 0 20px #5ac1db, 0 0 30px #3fb5d3, 0 0 40px #0e92b3,
    0 0 50px#016983;
  color: #016983;
}
