.errorPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 5em;
}

.errorPage img {
  width: 8vw;
  animation: orbit infinite ease-in-out 6s;
  position: absolute;
  top: 35%;
}
.error-container {
  position: relative;
}
.error-container h1 {
  position: relative;
  z-index: 2;
  backdrop-filter: blur(5px);
}
@keyframes orbit {
  0% {
    left: -50%;
    z-index: 1;
    scale: 0.7;
    transform: translate(0%, -50%);
  }
  25% {
    scale: 0.3;
    transform: translate(-100%, -50%);
  }
  50% {
    left: 120%;
    z-index: 1;
  }
  50.001% {
    z-index: 3;
  }
  75% {
    scale: 1;
  }
  100% {
    left: -50%;
    transform: translate(0%, -50%);
    z-index: 3;
    scale: 0.72;
  }
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
}
@media only screen and (max-device-width: 768px) {
  aside {
    min-width: 30vw;
  }
  .newConv input {
    min-width: 100%;
  }
  .newConv button {
    min-width: 100%;
  }
}
