.card {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  border: 2px solid var(--primary-text-color);
  border-radius: 5px;
}
.card p {
  text-wrap: wrap;
}
